* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

header, h3, .banner, .logo, .background, .col {
    margin-bottom: 20px;
}

header {
    min-height: 150px;
}

.logo {
    height: 64px;
    width: 183px;
    border-right: 1px solid #8A8A8A;
    padding-right: 20px;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #8A8A8A;
    font-size: 20px;  
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.banner {
    width: 100%;
    min-height: 500px;
    background-image: url("../img/banner.jpg");
}

.banner-text {
    max-width: 50%;
    color: white;
    padding: 300px 0 100px 50px;
}

h2 {
    font-weight: normal;
}

.articles {
    min-height: 800px;
    margin-bottom: 5px;
}

.title {
    min-height: 100px;
}

h1 {
    color: black;
    font-size: 40px;
}

.col {
    min-height: 700px;
    float: left;
}

.left {
    background-image: url("../img/img-1.jpg");
}

.central {
    background-image: url("../img/banner-2.jpg");
}

.right {
    background-image: url("../img/img-3.jpg");
}

.lateral {
    width: 20%;
    height: auto;
}

.middle {
    width: calc(60% - 40px);
    margin: 0 20px;
}

.background {
    min-height: 215px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

footer {
    min-height: 60px;
    margin-top: 30px;
    color: black;
    text-align: center;
}

footer span {
    /* important: remember this descendat selector */
    color: red;
    font-size: larger;
    vertical-align: middle;
}