* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
    /* margin: auto; */
}

header, .banner, .logo {
    margin-bottom: 20px;
}
/* ha dato margin-bottom:20px solo all'header */

header {
    min-height: 150px;
}

.logo {
    height: 64px;
    width: 183px;
    border-right: 1px solid #8A8A8A;
    padding-right: 20px;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #8A8A8A;
    font-size: 20px;  
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.banner {
    min-height: 500px;
    background-image: url("../img/banner.jpg");
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.banner-text {
    width: 50%;
    color: grey;
    padding: 300px 0 0 50px;
}

h2 {
    font-weight: normal;
}

.section.two {
    background-color: rgb(0, 135, 255);
    min-height: 800px;
    margin-bottom: 5px;
}

.section-header {
    background-color: rgb(171, 207, 231);
    min-height: 100px;
    margin-bottom: 20px;
}
    /* margin-bottom:15 px */

.col {
    background-color: rgb(171, 207, 231);
    min-height: 700px;
    /* min-height: 150px; */
    margin-bottom: 20px;
    float: left;
}

.left, .right {
    min-width: 20%;
    /* lui ha messo width: 20%; */
}

.middle {
    min-width: calc(60% - 40px);
    margin: 0 20px;
}
    /* giusto */

footer {
    background-color: rgb(136, 1, 254);
    min-height: 60px;
    margin-top: 10px;
}